// debut section story

.sct-1 {
    margin-top: 33%;
    background-image: url(../../../public/images/main_bg.jpg);
    background-attachment: fixed;
    padding: 5%;

    .sct-1-0 {
        background-color: white;

        div {
            display: flex;
            justify-content: space-between;

            .sct-center {
                flex-direction: column;
                justify-content: center;
                text-align: center;

                h2 {
                    font-family: courgette;
                    text-transform: capitalize;

                    span {
                        text-transform: uppercase;
                    }
                }
            }
        }

        p {
            padding: 0 420px;
        }
    }


}