.client {
    background-image: url(../../../public/images/testimonials_background.jpg);
    background-repeat: no-repeat;


    .client-testimonials {
        display: flex;
        flex-direction: column;

        .sct-center {
            font-family: courgette;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .testimonials {
            display: flex;
            justify-content: center;
            flex-direction: row;

            .img-1 {
                display: flex;
                justify-content: flex-end;

                img {
                    border-radius: 50%;
                    width: 70%;
                    height: 70%;
                    margin-top: 8%;
                    margin-right: 5%;
                }
            }
            @media screen and (min-width:360px) and (max-width:640px) {
                .img-1{
                    display:none;
                }
            }

            .img-2 {
                img {
                    border-radius: 50%;
                    width: 70%;
                    margin-top: 8%;
                    margin-left: 5%;
                }
            }
            @media screen and (min-width:360px) and (max-width:640px) {
                .img-2{
                    display:none;
                }
            }

            .carte {
                background-color: none;
                color: white;

            }
            
            .card-body {
                border-radius: 10px;
                margin: 15px 12px 55px 13px;
            }
            @media screen and (min-width:360px) and (max-width:640px) {
                .card-body{
                    margin: 0%;
                }
            }

        }
        @media screen and (min-width:360px) and (max-width:640px) {
            .testimonials{
                display: flex;
                flex-direction: column;
                align-self: center;

            }
        }
    }
}