// section 2


.chef {
    background-color: black;

    .sct-center {
        font-family: courgette;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .img-chef {
        padding: 5px;
        display: flex;
        justify-content: space-around;

        img {
            display: flex;
            flex-direction: column;
        }

    }
}

@media screen and (min-width:360px) and (max-width:640px) {
    .img-chef {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
        justify-content: center;
    }
}